body{
    background-color:#222831;
    margin: 0px;
    padding: 0px;
    color:white;
}
.nav-1 a{
    text-decoration: none;
    display: flex;
    color: white;
 }
 .nav-1{
   background-color:#101820FF;
   color: white;
   display: flex;
   justify-content: flex-end;
   width: 100%;
 }
ul{
   list-style:none;
   display: flex;}
li{
   padding: 30px;
    margin-right: 20px;
}
 .nav-1btn{
   border: none;
   background-color:#454a51 ;
}

.nav-2 a{
    font-size: 26px;
    text-align: center;
    text-decoration: none;
}
.nav-2 {
    display: flex;
    background-color:#3C4048;
    justify-content:center;
    width: 100%;
    height: 50px;
    gap: 100px;
} 
.subnav {
  float: left;
  overflow: hidden;
}
.subnav .subnavbtn {
  font-size: 12px;  
  border: none;
  outline: none;
  color: white;
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.subnav .subnavbtn:hover{
    color: black;
}
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #EEEEEE;
}
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color:  #EEEEEE;
  width: 100%;
  z-index: 1;
  font-size: 10px;
}
.subnav-content a {
  /* float: left; */
  color: black;
  text-decoration: none;
  margin: 1em 1em 1em 1em;
  text-align: center;
}
.subnav-content a:hover {
  text-decoration: underline;
  color: black;
  text-align: center;
}
.subnav:hover .subnav-content {
  display: block;
  text-align: center;
  opacity: 0.6;
  font-size: 10px;
}
.sub1{
    display: flex;
    font-size: 30px;
    justify-content:space-between;
    color:#423F3E;
    border-radius: 25px;
    margin: 20px;
}
.main img{
    width: 1350px;
    height: 700px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 50px;
}
.main-btn{
    position: absolute;
    z-index: 1;
    top: 550px;
    left:500px;
}
.main{
    border-radius: 25px;
    margin: 20px;
}
.main-image-para{
    position: absolute;
    z-index: 1;
    top: 33%;
    left: 38%;
    color: #222831;
    font-size: 32px;
}
.mainbtn{
    background-color: #11999E;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 200px;
}
.sub-1{
    border-radius: 50%;
    height: 180px;
    width: 200px;
    position:relative;
    z-index: 1;
    left: 130px;
    top: 180px;
    margin-top: 60px;
}
.sub-2{
    border-radius: 50%;
    height: 180px;
    width: 200px;
    position:absolute;
    z-index: 1;
    left: 630px;
    top: 129%;
}
.sub-3{
    border-radius: 50%;
    height: 180px;
    width: 200px;
    position:absolute;
    z-index: 1;
    left: 1100px;
    top: 140%;
}
.index-container-1-parah{
    position: relative;
    z-index: 1;
    padding-top: 200px;
    text-align: center;
    font-size: 20px;
}
span{
    color: #11999E;
}
.sub-5{
    border-radius: 50%;
    height: 180px;
    width: 200px;
    position:absolute;
    z-index: 1;
    left: 1100px;
    top: 195%;
}
.sub-6{
    border-radius: 50%;
    height: 180px;
    width: 200px;
    position:absolute;
    z-index: 1;
    left: 630px;
    top: 215%; 
}
.sub-4{
    border-radius: 50%;
    height: 180px;
    width: 200px;
    position:absolute;
    z-index: 1;
    left: 145px;
    top: 190%;
}
.container-2-img1{
    width: 400px;
    height: 450px;
    margin-top: 450px;
    border-radius: 0px 30px 30px 0px;
}
.cotainer-2-parah{
    margin-top: 450px;
    background-color: #11999E;
    color: black;
    width: 980px;
    margin-left: 40px;
    font-size: 20px;
    border-radius: 30px 0px 0px 30px;
    height: 450px;
    padding-left: 20px;
}
.container-2 , .skin-analysis-sub2{
    display: flex;
}
.banner-image{
    margin-top: 50px;
    width: 1400px;
    margin-left: 40px;
  
}
.subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    opacity: 0.6;
}
.footer-1{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}
.footer-1 img{
    width: 400px;
    height: 500px;
}
.feedback-sub h2{
    text-align: center;
}
.feedback-main{
    overflow: hidden;
   overflow-x:scroll;
   margin-top: 100px;
   display:flex;
   gap: 80px;
   margin-left: 20px;
   margin-right: 20px;
   color: black;
}
.feedback-main::-webkit-scrollbar{
    display: none;
}
.feedback-sub img{
    width: 300px;
    border-radius: 18px 18px 0px 0px;
}
.footer-2{
    margin: 40px;
}

.feedback-sub{
    border:   solid white;
    width: 330px;
    background-color:#EEEEEE;
    text-align:inherit;
    border-radius: 20px;
}
.feedback-sub i{
    color: gold;
}
.footer3-sub1{
  display: flex;
  flex-direction: column;
}
.footer-3{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    background-color: #1d2128;
    height: 400px;
    position: relative;
    top: 30px;
}
.index-base{
    background-color: black;
    text-align: center;
    display: block;
    justify-content: space-between;
}
.logo{
    width: 100px;
    height: 40px;
}

.index-base a{
    text-decoration: none;
    color: white;
}
.question-pg{
    font-size: 22px;
    background-color: #3C4048;
    height: 700px;
    padding-top: 50px;
    width: 1200px;
    margin: 85px;
    padding-left: 100px;
    border-radius: 50px;
    box-shadow: -1px 0px 19px 9px rgba(36,36,36,1);
}
.question-pg-btn1 :hover{
  box-shadow: 0px 2px 47px -17px rgba(255,255,255,1);
}
.question-pg-btn{
    background-color: #11999E;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    margin-left: 40px;
    border: none;
    cursor: pointer;
}
.skin-analysis-sub-para{
    width: 1000px;
    background-color: #EEEEEE;
    height: 100px;
    z-index: -1;
    color: black;
    font-size: 20px;
}
.skin-analysis-container1{
    margin: 0px 0px 0px 300px;
    font-size: 22px;
    width: 1000px;
}
.skin-analysis-sub2 img{
    width: 200px;
    height: 200px;
    border-radius: 0px 30px 30px 0px;
    margin-right: 50px;
}
.skin-analysis-img{
    width: 750px;
    height: 500px;
    margin: 10px;
    padding-top: 40px;
}
.question-pg-btn1{
    margin-left: 500px;
    position:absolute;
    z-index: 1; 
    top:120%;
}
.skin-analysis-img2{
    margin: 40px 0px 0px 300px ;
}
.skin-analysis-sub2{
    border: solid white;
    width: 750px;
}
.products-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 80px;
    gap: 80px;
    color: black;
    margin: 30px;
}
.products-main img{
width: 300px;
height: 300px;
border-radius: 30px;
}
.product-sub{
    height: 550px;
    width: 300px;
    border: solid white;
    border-radius: 30px;
    background-color: #EEEEEE;
}
.biling-pg img{
    width: 100%;
    height: 100%;
}
.biling-heading{
    text-align: center
}
.biling-sub{
    width: 330px;
    color:black;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    top: 250px;
    left: 530px;
    height: 450px;
    width: 400px;
    background-color:white;
    border: 1px solid white;
    box-shadow:0px 2px 22px 8px rgba(0,0,0,0.75);
}
.payment-img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-top: 30px;
}
hr{
    border:1px solid  hsl(215, 13%, 26%);
    padding-left: 10px;
    margin-right: 10px;
  }
.biling-sub input{
    position: relative;
    bottom: 10px;
}
.biling-sub label{
    position: relative;
    bottom: 20px;
}
input[type="radio"]{
    position: relative;
    top: 0px;
    right: 20px;
}
.payment-name{
    position: relative;
    left: 30px;
}
.clean-pg{
    background-color: #222831;
}
.clean-pg img{
  width: 400px;
  height: 600px;
}
.clean-pg i{
    color: gold;
}